
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap');
       
p {
    display: block;
    font-family: 'lora','serif';
    max-width: 100%;
    font-size: 20px;        
}
        
body{
    background-color:#F2EAD0;
    padding: 5em;
    text-align: justify;            
}
        
ul{
    font-family: 'lobster', cursive;
}

/*LETRA BOTON INICIO SESION*/
    #letra_inicio{
    color:white;            
}

/* LETRA REGISTRO BOTON*/
    #letra_registro{
    color: white;
}
    
#TITULO{
    font-family: 'lobster', cursive;
    font-size: 30px;            
}
      
    
.TituloDos{
    margin-top: 2em;
    font-family: 'Lora','serif';  
}
    
body{
    background-blend-mode: soft-light;
    background-image: url('https://previews.123rf.com/images/arborelza/arborelza1701/arborelza170100003/70672222-patr%C3%B3n-sin-fisuras-quot-la-hora-de-dulce-quot-vector-colorido-delicioso-fondo-con-tortas-pasteles-magda.jpg');
    background-attachment: fixed;
}
    
.Tortas1{
    border-top: 25px;
    margin-top: 4em;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
    border-width: 5px;
    margin-bottom: 13em;
}
    
img{
    max-width: 100%;
    width: 450px;
    height: 350px;
    border-radius: 25px;
}
    
.footer{
    padding: 1.5em;
    text-align: center;
    background-color: #865730;
}
        