@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body{
    background: url(torta.jpg);
    background-size: cover ;
    font-family: sans-serif;
    height: 100vh; 
    max-width: 100%;

}


.form-register{
    width: 400px;
    background: #631430;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    max-width: 100%;

}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    max-width: 100%;
}

.controls {
    width: 100%;
    background: #474343;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    max-width: 100%;
}

.form-register p{
height: 40px;
text-align:  center;
font-size: 18px;
max-width: 100%;

}

.form-register a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 100%;
    
}

.form-register .botons {
    width: 100%;
    background: #474343;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    max-width: 100%;
    
}

.form-register input[type="submit"]:hover{
    transform: scale(0.95);
    max-width: 100%;
}

.container {
    max-width: 100%;
}



#TITULOH1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 65px;
    max-width: 100%;
    
}

.footer {

    padding: 1.5em;
    text-align: center;
    background-color: #60371E;
    max-width: 100%;
}




#TITULO{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    max-width: 100%;
    
}
/* link contacto*/


#link_iniciar_sesion{
    font-family: 'Cabin', sans-serif;
    max-width: 100%;
    
}

#link_registro{
    font-family: 'Cabin', sans-serif;
    max-width: 100%;
    
}
/*LETRA BOTON INICIO SESION*/
#letra_inicio{
    color:white;
    max-width: 100%;
    
}
/* LETRA REGISTRO BOTON*/
#letra_registro{
    color: white;

    max-width: 100%;

}    
/*diego, te arregle el que el registro e iniciar sesion quedaran a la derecha*/ 
/*y centre un poco el titulo que pusiste , el color cambialo si sientes que esta poco visible pero era una prueba nada mas*/
#TITULOH1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 65px;
    max-width: 100%;
    
}

#logo{
    margin-right: 10px;
    max-width: 100%;
}


.nav-item {
    float: right;

    margin: 0 15px 0 
}