@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
background: url(https://i.pinimg.com/originals/c6/1d/95/c61d95738bf8cc5c8e9863bd8d638a78.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.card-title{
font-size: 30px;
font-weight: 500;
color: orange;
margin-bottom: 0.9em;
}
.TitulosDos{
text-align: center;
margin: 0.5px;
color: rgb(255, 255, 255);
font-family: 'Lora', serif;
font-size: 40px;
margin-top: 15px;
background-color: rgb(59, 34, 5);;
}
.card-text{
font-size: 20px;
font-family:'Lora', serif;
}
.grid-container {
display: grid;
grid-template-columns: auto auto;
margin-top: 35px;
margin-left: 0.1em;
padding: 1%;
}
.grid-item {
font-size: 25px;
text-align: center;
font-family: 'Bad Script', cursive;
padding: 10px;
}

img{
  max-width: 100%;
  border-radius: 10px;
}

a{
  border-radius:40px;
}

.parallaxUno {
background-image: url("https://us.123rf.com/450wm/andreaobzerova/andreaobzerova1802/andreaobzerova180200118/96098134-fondo-de-minimalismo-abstracto-textura-de-papel-de-color-pastel-m%C3%ADnimas-formas-geom%C3%A9tricas-y-l%C3%ADneas-en-col.jpg?ver=6");
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.ListaGeneral{
margin: 10px;
font-size: 20px;
margin-bottom: -15px;
padding: 5px;
font-weight: 100;
font-family: 'Lora', serif;
margin-top: -7px;
}
.TituloUno{
text-align: center;    
font-size: 50px;
font-family:'Lora', serif;
color: rgb(255, 255, 255);
margin-top: 65px;
background-color: rgb(59, 34, 5);;
}
#letra_inicio{
color: white;
font-family: 'lobster', cursive;
}
#letra_registro{
color: white;
margin-right: 630px;
font-family: 'lobster', cursive;
}
#boton_ini{
  font-family: 'lobster', cursive;
}
  
#nosotros{
  font-family: 'lobster', cursive;
}
  
#productos{
  font-family: 'lobster', cursive;
}
  
#contactos{
  font-family: 'lobster', cursive;
}

#buscar{
  font-family: 'Lobster', cursive;
}
#boton_busc{
  font-family: 'Lobster', cursive;
}
#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
}  
.hipervinculo{
  background-color: rgb(59, 34, 5); 
  color: rgb(255, 255, 255);
}
.columnaDos{
  background-color: white
}
.columna{
  background-color: gray;
}
#navegador{
  background-color: #EDD8BF
}
#card_torta{
  max-width: 1750px; 
  margin-top: -6px; 
  margin-left: 20px;
}
#imagenInicial{
  width: 800px; 
  height: 450px; 
  padding: 20px;
}
.linea_separacion{
  margin-top: 7em;
}
.creadores_web{
  height: 42px; 
  width: 1902px; 
  margin-top: -0.9em; 
  background-color:#60371E; 
  max-width: 100%;
}
.texto_creadores{
  margin-top: 2em; 
  color: blanchedalmond;
}
#tabla{
  margin-left: 20px; 
  width: 92%;
}
.Cantidad_persona{
  font-family:'Lora', serif;
}
