
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap');
       
p {
    display: block;
    font-family: 'lora','serif';
    max-width: 100%;
    font-size: 20px;   
    text-align: justify;     
    margin: 1.2%;
}

#Tit_Gener{
    margin: 1.2%;
}

#Tit_Generr{
    margin: 1.2%;
}

body{
    background-color:#F2EAD0;
    text-align: justify;            
}
        
ul{
    font-family: 'lobster', cursive;
}

/*LETRA BOTON INICIO SESION*/
    #letra_inicio{
    color:white;            
}

/* LETRA REGISTRO BOTON*/
    #letra_registro{
    color: white;
    margin-right: 490px;
}
    
#TITULO{
    font-family: 'lobster', cursive;
    font-size: 30px;            
}
      
    
.TituloDos{
    margin-top: 4em;
    font-family: 'Lora','serif';  
}
    
body{
    background-blend-mode: soft-light;
    background-image: url('https://previews.123rf.com/images/arborelza/arborelza1701/arborelza170100003/70672222-patr%C3%B3n-sin-fisuras-quot-la-hora-de-dulce-quot-vector-colorido-delicioso-fondo-con-tortas-pasteles-magda.jpg');
    background-attachment: fixed;
}
    
.Tortas1{
    border-top: 25px;
    margin-top: 4em;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
    border-width: 5px;
    margin-bottom: 13em;
}
    
img{
    max-width: 100%;
    width: 450px;
    height: 350px;
    border-radius: 25px;
}
    
.footer{
    padding: 1.5em;
    text-align: center;
    background-color: #865730;
}




    /* CSS Api Clima */


    :root {
        --bg_main: #113675;
        --text_light: rgba(192, 28, 143, 0.781);
        --text_med: #43ecd6;
        --text_dark: #ffffff;
        --red: #ff1e42;
        --darkred: #c3112d;
        --orange: #ff8c00;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-weight: normal;
      }
      
      a {
        color: inherit;
        text-decoration: none;
      }
      
      button {
        cursor: pointer;
      }
       
      input {
        -webkit-appearance: none;
      }
       
      button,
      input {
        border: none;
        background: none;
        outline: none;
        color: inherit;
      }
      

      
      ul {
        list-style: none;
      }
            
      .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
      }

      .top-banner {
        color: var(--text_light);
      }
      
      .heading {
        font-weight: bold;
        font-size: 4rem;
        letter-spacing: 0.02em;
        padding: 0 0 30px 0;
      }
      
      .top-banner form {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      .top-banner form input {
        font-size: 2rem;
        height: 40px;
        padding: 5px 5px 10px;
        border-bottom: 1px solid;
      }
      
      .top-banner form input::placeholder {
        color: currentColor; 
      }
      
      .top-banner form button {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 15px 20px;
        margin-left: 15px;
        border-radius: 5px;
        background: var(--red);
        transition: background 0.3s ease-in-out;
      }
      
      .top-banner form button:hover {
        background: var(--darkred);
      }
      
      .top-banner form .msg {
        position: absolute;
        bottom: -40px;
        left: 0;
        max-width: 450px;
        min-height: 40px;
      }
      
      

      .ajax-section {
        margin: 70px 0 20px;
      }
      
      .ajax-section .cities {
        display: grid;
        grid-gap: 32px 20px;
        grid-template-columns: repeat(4, 1fr);
      }
      
      .ajax-section .city {
        position: relative;
        padding: 40px 10%;
        border-radius: 20px;
        background: var(--text_light);
        color: var(--text_med);
      }
      
      .ajax-section .city::after {
        content: '';
        width: 90%;
        height: 50px;
        position: absolute;
        bottom: -12px;
        left: 5%;
        z-index: -1;
        opacity: 0.3;
        border-radius: 20px;
        background: var(--text_light);
      }
      
      .ajax-section figcaption {
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: cursive;
      }
      
      .ajax-section .city-temp {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 10px;
        color: var(--text_dark);
      }
      
      .ajax-section .city sup {
        font-size: 0.5em;
      }
      
      .ajax-section .city-name sup {
        padding: 0.2em 0.6em;
        border-radius: 30px;
        color: var(--text_light);
        background: var(--orange);
      }
      
      .ajax-section .city-icon {
        margin-top: 10px;
        width: 100px;
        height: 100px;
      }
      
      
      .page-footer {
        text-align: right;
        font-size: 1rem;
        color: var(--text_light);
        margin-top: 40px;
      }
      
      .page-footer span {
        color: var(--red);
      }
      
  
      @media screen and (max-width: 1000px) {
        .ajax-section .cities {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @media screen and (max-width: 700px) {
        .heading,
        .ajax-section .city-temp {
          font-size: 3rem;
        }
        
        .ajax-section {
          margin-top: 20px;
        }
        
        .top-banner form {
          flex-direction: column;
          align-items: flex-start;
        }
        
        .top-banner form input,
        .top-banner form button {
          width: 100%;
        }
      
        .top-banner form button {
          margin: 20px 0 0 0;
        }
        
        .top-banner form .msg {
          position: static;
          max-width: none;
          min-height: 0;
          margin-top: 10px;
        }
      
        .ajax-section .cities {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      
      @media screen and (max-width: 500px) {
        body {
          width: 100%;
        }
        
        .ajax-section .cities {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .api {
        background: hsl(56, 100%, 87%);
        top: 0;
        left: 0;
        width: 100%;
        padding: auto;
      }
      
      .api a {
        text-decoration: underline;
      }
      
      .api a:hover {
        text-decoration: none;
      }

      .modif_api{
        margin-right: 2em;
        margin-top: -90px;
      }