@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Bad+Script&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
background-color: rgb(59, 34, 5);
background-repeat: no-repeat;
background-attachment: fixed
}
#letra_inicio{
color:white;
font-family: 'lobster', cursive;
}
#letra_registro{
color: white;
margin-right: 500px;
font-family: 'lobster', cursive;
}

#boton_ini{
font-family: 'lobster', cursive;
}

#nosotros{
font-family: 'lobster', cursive;
}

#productos{
font-family: 'lobster', cursive;
}

#contactos{
font-family: 'lobster', cursive;
}
#buscar{
font-family: 'Lobster', cursive;
}
#boton_busc{
    font-family: 'Lobster', cursive;
}
#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
}  

.Titulos{
text-align: center;
font-family: 'Lora', serif;
color: rgb(255, 255, 255);
background-color: rgb(59, 34, 5);
margin: 15px;
margin-top: 14px;
font-size: 50px;
}
.TitulosDos{
text-align: center;
margin: 15px;
color: rgb(255, 255, 255);
font-family: 'Lora', serif;
font-size: 30px;
margin-top: 12px;
}
.grid-container {
display: grid;
grid-template-columns: auto auto;
background-color: transparent;
margin-top: -20px;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
font-size: 30px;
text-align: center;
font-family: 'Bad Script', cursive;
padding: 10px;
}
img{
width: 500px;
height: 350px;
max-width: 100%;
margin: 5px;
max-height: 100%;
border-radius: 15px;
}
.parallaxUno {
background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-forma-geometrica-pintado-diseno-pastel_41066-1266.jpg?size=626&ext=jpg&ga=GA1.2.1356500412.1617235200");
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallaxDos {
background-image: url("https://us.123rf.com/450wm/andreaobzerova/andreaobzerova1802/andreaobzerova180200118/96098134-fondo-de-minimalismo-abstracto-textura-de-papel-de-color-pastel-m%C3%ADnimas-formas-geom%C3%A9tricas-y-l%C3%ADneas-en-col.jpg?ver=6");
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.ListaGeneral{
margin: 10px;
font-size: 20px;
margin-bottom: -13px;
padding: 1px;
font-weight: 100;
font-family: 'Lora', serif;
}
.creadores_web{
height: 42px; 
width: 1902px; 
margin-top: -0.9em; 
background-color:#60371E; 
max-width: 100%;
}
.texto_creadores{
margin-top: 2em; 
color: blanchedalmond;
}
#navegador{
background-color: #EDD8BF
}